@using BookApp.HelperExtensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BookApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">All Books</a>
                    </li>
                    <li>
                        <a href="#" id="show-logs" class="nav-link text-dark d-none">Logs&nbsp;<span class="badge badge-pill badge-primary"></span></a>
                    </li>
                    <li>
                        <a href="#" id="show-bg-logs" class="nav-link text-dark" 
                           data-toggle="tooltip" title="This shows the logs outside the HTTP request, e.g. the background tasks.">
                            Bg-logs&nbsp;<span class="badge badge-secondary"></span>
                        </a>
                    </li>
                    @*@if (Context.Request.IsLocal())
                    {
                        <li class="dropdown nav-link text-dark">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ResetDatabase">Reset Database</a>
                            </div>
                        </li>
                    }*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Your Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
        <partial name="LogModal" />
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - BookApp
        @*&copy; 2020 - BookApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
    </div>
</footer>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/loggingDisplay.js" asp-append-version="true"></script>
    <script src="~/js/bookList.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/bundle.min.js" asp-append-version="true"></script>
</environment>



@RenderSection("Scripts", required: false)
<script type='text/javascript'>
    document.addEventListener("DOMContentLoaded",
        function(event) {
            var numLogs = @(ViewData["NumLogs"] ?? 0);
            if (numLogs > 0) {
                LoggingDisplay.initialise('@Url.Action("GetLog", "Logger")', '@ViewData["TraceIdent"]', numLogs);
            }
        });
</script>
</body>
</html>
