@model BookApp.ServiceLayer.DefaultSql.Books.Dtos.AddPromotionDto

<h2>Add Book Promotion</h2>

<form asp-controller="Admin" asp-action="AddPromotion" method="post">
    <!-- Input and Submit elements -->
    <input name="BookId" type="hidden" value="@Model.BookId" />
    <input name="Title" type="hidden" value="@Model.Title" />
    <input name="OrgPrice" type="hidden" value="@Model.OrgPrice" />

    <div class="row">
        <div class="col-sm-2">
            <label>Book Title</label>
        </div>
        <div class="col-sm-10">
            @Model.Title
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>Full Price ($)</label>
        </div>
        <div class="col-sm-10">
            @Model.OrgPrice
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <label>New Price ($)</label>
        </div>
        <input asp-for="ActualPrice" class="form-control col-sm-2" />
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <label>Promotional Text</label>
        </div>
        <input asp-for="PromotionalText" class="form-control col-sm-4" />
        <span asp-validation-for="PromotionalText" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <div class="offset-md-2 col-md-10">
            <button type="submit">Update</button>
        </div>
    </div>

</form>