@model BookApp.ServiceLayer.DefaultSql.Books.Dtos.BookDetailDto

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>BookDetailDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActualPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActualPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromotionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorsOrdered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorsOrdered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManningBookUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManningBookUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutAuthor)
        </dt>
        <dd class="col-sm-10">
            @Model.AboutAuthor
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutReader)
        </dt>
        <dd class="col-sm-10">
            @Model.AboutReader
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutTechnology)
        </dt>
        <dd class="col-sm-10">
            @Model.AboutTechnology
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhatsInside)
        </dt>
        <dd class="col-sm-10">
            @Model.WhatsInside
        </dd>
    </dl>
    <a href="@Model.ManningBookUrl">
        <img src="@Model.ImageUrl" />
    </a>
</div>

