@model BookApp.ServiceLayer.DefaultSql.Books.Dtos.BookDetailDto

@{
    ViewData["Title"] = "Detail";
}

<table class="table">
    <tbody>
    <tr>
        <td>
            <div>
                <a class="btn btn-light btn-sm" asp-controller="Checkout" asp-action="Buy" asp-route-BookId="@Model.BookId" asp-route-numBooks="1" role="button">Demo buy this book</a>
                <a class="btn btn-info btn-sm" href="@Model.ManningBookUrl" role="button">See real book in Manning</a>
            </div>
            <br />
            <a href="@Model.ManningBookUrl"><img src="@Model.ImageUrl" /></a>
            <br />
            <br />
            <div>
                Published on @Model.PublishedOn.ToString("d")
                @if (Model.EstimatedDate)
                {
                    <small>&nbsp;(estimated)</small>
                }
            </div>
            <div>
                <strong>Tags:</strong> @string.Join(" | ", Model.TagStrings)
            </div>
            <div>
                <span class="h4">@(Model.ActualPrice < 0 ? "- not for sale - " : $"Price: ${Model.ActualPrice:F}")</span>
                @if (Model.PromotionText != null)
                {
                    <div class="text-danger">
                        <strong>&nbsp;<del>$@($"{Model.OrgPrice:F}")</del>&nbsp;<i>@(Model.PromotionText)</i></strong>
                    </div>
                }
            </div>
        </td>
        <td>
            <h2>@Model.Title</h2>
            <div>
                <small>by</small>&nbsp;@Model.AuthorsOrdered
            </div>
            <br/>
            <div>
                @Model.Description
            </div>
            <br />
            <h4>About the technology</h4>
            <div>
                @Model.AboutTechnology
            </div>
            <br />
            <h4>What's inside</h4>
            <div>
                @Model.WhatsInside
            </div>
            <br />
            <h4>About the authors</h4>
            <div>
                @Model.AboutAuthor
            </div>
            <br />
            <h4>About the reader</h4>
            <div>
                @Model.AboutReader
            </div>
        </td>
    </tr>
    </tbody>
</table>

