@model BookApp.ServiceLayer.EfCoreSql.Orders.OrderServices.OrderListDto

<div class="row">
    <div class="col-md-8">
        <span class="h4">Order @Model.OrderNumber</span> placed on @Model.DateOrderedUtc.ToString("f")
    </div>
</div>
<hr />

@{
    foreach (var lineItem in Model.LineItems)
    {
        <div class="row">
            <div class="col-md-2">
                <img class="img-fluid" src="@(lineItem.ImageUrl ?? "#")">
            </div>
            <div class="col-md-4">
                <h4>
                    <strong>@lineItem.Title</strong>
                </h4>
                <small>by&nbsp;</small>@lineItem.AuthorsName
            </div>
            
            <div class="col-md-3 text-right">
                <h6>
                    <strong>
                        $@($"{lineItem.BookPrice:F}")
                    </strong>
                </h6>
            </div>
            <div class="col-md-2 input-group align-top">
                <h6 class="input-group-sm">@lineItem.NumBooks</h6>
            </div>
            
        </div>
        <hr />
    }
}

<div class="row text-center">

    <div class="col-md-9">
        <h4 class="text-right">
            Total <strong>$@($"{Model.LineItems.Sum(x => x.BookPrice * x.NumBooks):F}")</strong>
        </h4>
    </div>
</div>


